@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

:root {
    --claro: #D4BEE4;
    --medio: #9B7EBD;
    --escuro: #3B1E54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background: linear-gradient(var(--escuro), var(--medio));
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 18vh;
    background-color: var(--medio);
    width: 80%;
    margin-left: 10%;
    margin-top: 2vh;
    border-radius: 10px;
}

header h1 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--escuro);
}

.scores {
    display: flex;
    gap: 50px;
}

.player-score-box, .computer-score-box {
    background-color: var(--claro);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.2rem;
    color: var(--escuro);
}
.score {
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--claro);
}

.game p {
    margin-bottom: 40px;
    font-size: 1.5rem;
}

.game {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    width: 100%;
}

.game img {
    width: 150px;
}

.left-img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.opcoes {
    display: flex;
    gap: 20px;
    height: 10vh;
}

.opcoes img {
    height: 50px;
}

.opcoes img:hover {
    transition: .2s;
    transform: scale(1.2);
    cursor: pointer;
}

.btn-start {
    border: 1px solid var(--escuro);
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #fff;
    color: var(--escuro);
}

@media (max-width: 1000px) {
    .game {
        flex-direction: column;
    }
    .opcoes img {
        height: 40px;
    }
    .game img {
        width: 110px;
    }
    header {
        height: 15vh;
    }
    .opcoes {
        margin-top: 20px;
    }
    .game {
        height: 70vh;
    }
}

@media (max-width: 500px) {
    .game-result {
        width: 50%;
    }
    header h1 {
        font-size: 1.2rem;
    }
    .scores div {
        height: 80px
    }
}