*{
    margin: 0;
    padding: 0;
    position: relative;

}

body {
    
    background-color: rgb(16, 28, 45);
}

h1 {
    position: absolute;
    width: 100%;
    bottom: 120px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 0, 0);
    z-index: 1;
    white-space: nowrap;
    transition: .2s;
}

h1:hover {
    color: aliceblue;

}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; width: 700px;
    border: 50px solid rgb(255, 0, 0);
    background-color: #e4e4e4;
    border-radius: 10px;
}

.botoes {
    position: absolute;
}

.circle1, .circle2 {
    width: 80px; height: 80px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(146, 146, 146);
}

.circle1 {
    position: absolute;
    left: 370px;
    top: 220px;
}

.circle2 {
    right: 370px;
    top: 220px;
}

.setas {
    position: absolute;
    bottom: 135px;
}